requests==2.32.3
pip~=23.2.1
certifi~=2025.1.31
typing_extensions~=4.13.0
urllib3~=2.3.0
idna~=3.10
charset-normalizer~=3.4.1
nltk~=3.9.1
beautifulsoup4~=4.13.3
pymorphy3~=2.0.3
numpy~=2.2.5
scikit-learn~=1.6.1
flask